<div style="background-color:#262626;margin-top:-48px">
  <div class="card text-center" style="width: 800px;margin-left:350px ; background-color:#6c757d; ">
    <div class="card-header" style="color: black ; font-size :17px">
        Realisateur : {{movie.realisateur}}
    </div>
    <div class="card-body">
      <h5 class="card-title">Name : {{movie.name}}</h5>
      <p class="card-text"> <img src="{{movie.img}}" style="height: 500px; width : 400px"></p>
      <a routerLink="/movies" class="btn btn-primary">Go back</a>
    </div>
    <div class="card-footer" style="color: black ; font-size :17px">
        Genre :{{movie.genre}}
    </div>
    <div class="star-wrapper">
      <a  class="fas fa-star s1"></a>
      <a  class="fas fa-star s2"></a>
      <a  class="fas fa-star s3"></a>
      <a  class="fas fa-star s4"></a>
      <a  class="fas fa-star s5"></a>
    </div>
    <script src="https://kit.fontawesome.com/5ea815c1d0.js"></script>
    <div class="wraper">
      <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="gitlabBilal" data-color="#FFDD00" data-emoji="" data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff"></script>
    </div>
  </div></div>