<h2> FeedBack List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> Email</th>
            <th> Message </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let contact of contacts" >
            <td> {{ contact.email }} </td>
            <td> {{ contact.message }} </td>
            <td>
  
                <button (click) = "deletecontacts(contact.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
           
            </td>
        </tr>
    </tbody>
</table>
