


  <div class="container-fluid p-0" style="margin-top: -60px;">
    <div id="blog-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="w-100" src="https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Image"style="height : 790px" >

                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                  <p style="width: 80%; font-size : 30px">TUNIFLIX is an alternative movie streaming website .
                    On our site you can watch movies and Series in HD absolutely for free and without sign up . 
                    We index various video streaming hostings daily and add new streaming locations to the new and existing movies. 
                    If you like our site and would give us your like please share our website with your friends!</p>
                
                </div>
            </div>
</div>
</div>
</div>

 

