<div class="col-md-6 offset-md-3">
    <h3> Update Serie </h3>
    
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> Name</label>
            <input type="text" class ="form-control" id = "name"
                [(ngModel)] = "serie.name" name="name">
        </div>
    
        <div class="form-group">
            <label> Realisateur</label>
            <input type="text" class ="form-control" id = "realisateur"
                [(ngModel)] = "serie.realisateur" name="realisateur">
        </div>
        <div class="form-group">
            <label> Image Url </label>
            <input type="text" class ="form-control" id = "img"
                [(ngModel)] = "serie.img" name="img">
        </div>
        <div class="form-group">
            <label> Genre </label>
            <select class ="form-control" id = "genre" [(ngModel)]="serie.genre" name="genre">
                <option>Drama</option>
                <option>Action</option>
                <option>Comedie</option>
                <option>Anime</option>
                <option>Horror</option>
                <option>Romance</option>
          </select>
        </div>
  
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 
